.background {
  background: #f0f2f6;
  height: 100%;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.box {
  font-weight: 14px !important;
}

.jumbotron {
  padding: 80px 0;
}

.jumbotron h3 {
  padding: 50px 0 0;
}

input[type="text" i] {
  padding: 15px !important;
  width: 100%;
  /* border: none!important; */
}

/* .texts {
  margin-bottom: 30px;
} */

@media screen and (max-width: 768px) {
  .box-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .box {
    font-weight: 12px !important;
  }
}

@media screen and (max-width: 458px) {
  .box-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.box label {
  border: 1px solid #d6d8db;
  padding: 3px;
  width: 100%;
  background: #f0f2f6;
}

.btn-list {
  width: 100%;
}

.btn-proced {
  background-color: #dd4f05;
}

.booking-info{
  background: #F0F2F6;
  position: relative;
}

.booking-info .texts{
  position: absolute;
  right: 0;
}

.form-new {
  margin: 120px 0;
}

.btn-proceed {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #dd4f05;
}

.btn-proceeds {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: #dd4f05;
}

.update h1 {
  font-family: Cardo;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 65px;
letter-spacing: 0px;
text-align: left;
}

@media screen and (max-width: 600px) {
  .update h1 {
    font-family: Cardo;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
  }
}