.background{
    background: #F0F2F6;
    height: 100vh;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.box{
    /* background: #F0F2F6; */
    font-weight: 14px!important;
}

/* Tablets, iPads (portrait) ---------- */
@media screen and (max-width: 768px){
    /* styles */
    .box-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .box{
        /* background: #F0F2F6; */
        font-weight: 12px!important;
    }
}

.box .title{
    font-weight: bold;
    color: #58595a;
    border: 1px solid #d6d8db;
    padding: 3px;
    background: #e0e6ee;
}

.box .title1{
    /* font-weight: bold; */
    border: 1px solid #d6d8db;
    padding: 3px;
    /* color: #6a777e; */
    /* background: #F0F2F6; */
}

.btn-list{
    width: 100%;
    background: #e0e6ee;
}