.jumbotron {
  background: linear-gradient(rgba(24, 23, 23, 0.45), rgba(15, 6, 6, 0.45)),
    url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1605813472/fas-khan-fG_6H0URdos-unsplash_ykkp3y.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* color: #ff7f00; */
}

.jumbotron h3 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .jumbotron h3 {
    font-family: Cardo;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
  }

  .about .intro-img {
      margin-top: 5px!important;
      margin-bottom: 0;
  }

  .about-partners {
    margin-top: -60px;
  }
}
