.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1.9px);
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
  height: 70px;
}

.navbar-logo svg {
  height: 50px;
margin-bottom: 20px;
}

.nav-menu-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  font-family: DM Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.0075em;
  text-align: left;
}

.nav-links {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
  padding: 0 0 0 2.3rem;
}

.nav-links:hover {
  color: #D43C14;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
}

/* .navbar-logo {
  color: #dd4f05;
  justify-self: start;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 70px;
}

.navbar-logo:hover {
  color: #dd4f05 !important;
  text-decoration: none;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin-left: 250px;
  justify-content: center;
  margin-top: 45px;
}

.nav-items {
  height: 80px;
}

.nav-links {
  color: #dd4f05 !important;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  padding: 0.8rem 0.58rem 0.3rem;
}

.nav-links:hover {
  border-bottom: 4px solid #dd4f05 !important;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #dd4f05;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: #2c2c2c;
    top: 80px;
    margin-left: 0px;
    margin-top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #2c2c2c;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    color: #dd4f05 !important;
    padding: 1.5rem 0.8rem;
    width: 100%;
    display: table;
    text-decoration: none !important;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #de4a09 !important;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 10;
    left: 0;
    transform: translate(15%, 0%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #dd4f05;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
} */
