.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1.9px);
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
  height: 70px;
}

.navbar-logo svg {
  height: 50px;
  margin-bottom: 20px;
}

.nav-menu-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  font-family: DM Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.0075em;
  text-align: left;
}

.nav-links {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
  padding: 0 0 0 2.3rem;
}

.nav-links:hover {
  color: #d43c14;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu-container {
    display: none;
  }

  .navbar-container {
    padding: 0 1.4rem;
  }

  .menu-icon {
    display: block;
    z-index: 1;
    color: #d43c14;
  }

  .nav-menu-container {
    /* background-color: #d43c14; */
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -10000%;
    transition: 850ms;
  }

  .nav-menu-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin-top: 0px;
    align-items: flex-start;
    font-family: DM Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    padding: 50px 20px;
  }

  .active {
    background-color: #e7e8ea;
    width: 250px !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -15px;
    right: 0;
    transition: 850ms;
    z-index: 1;
    transform-origin: 350ms;
    padding: 0;
  }

  .nav-links {
    color: #d43c14;
    align-self: center;
    text-decoration: none;
    padding: 0;
  }

  .nav-links:hover {
    border-bottom: 3px solid #d43c14;
    padding-bottom: 5px;
  }
}

/* @media screen and (max-width: 576px) {
  
} */
