.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  padding: 120px 20px;
}

.intro-one {
  height: 300px;
}

.intro-one h1 {
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  color: #12182c;
}

.intro-one p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justified;
  color: #a0a3bd;
}

.intro-img {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.intro-img .img-one {
  margin-top: 20px;
}

.intro-img .img-two {
  margin-top: 220px;
}

/* .choose-us {
  padding-top: 120px;
} */

.choose-us-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
}

.choose-us-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  padding: 60px 0px;
  margin-bottom: 100px;
}

.choose-us-one .col-one {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 50px;
  position: relative;
}

.choose-us-one .col-one-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 0 auto -150px;
  position: relative;
}

.col-one-title h1 {
  font-family: DM Sans;
  font-size: 168px;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  letter-spacing: 0px;
  text-align: left;
  color: #e7e8ea;
  margin-left: 60px;
}

.choose-us-one .col-two {
  width: 70%;
  height: 250px;
}

.choose-us-one .col-two-right {
  width: 70%;
  height: 250px;
  margin: 0 100px;
  position: relative;
}

.col-one-body h5 {
  margin-top: 115px;
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: left;
  color: #d43c14;
}

.col-one-body .line {
  position: absolute;
  top: 100px;
  left: 160px;
  width: 80px;
  background: #d43c14;
}

.col-one-body p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
}

.hide {
  display: none;
}

.desc {
  padding: 120px 0px 0px;
}

.desc .destinations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.fre-des h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 80px;
}

.location h5 {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-top: -30px;
}

.partners {
  padding: 120px 0px 0px;
}

.partners-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 80px;
}

.partners .partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 70px;
  max-width: 800px;
  margin: 0 auto;
}

.partner-one {
  margin-top: -60px;
}

.partner-two {
  margin-top: -30px;
}

.partner-three {
  margin-top: -10px;
}

.testimonies {
  padding: 100px 0px 0px;
}

.testimonies-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 30px;
}

.testimonies-title p {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
  margin-bottom: 40px;
}

.testimonies .testimonies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 0 auto;
}

.testimony {
  padding: 20px;
  box-shadow: 2px 2px 6px #a0a3bd;
}

.testimony:hover {
  padding: 20px;
  box-shadow: 5px 5px 15px #a0a3bd;
}

.testimony p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
}

.testimony-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
  padding: 20px 0;
}

.testimony-body-name p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #d43c14;
}

.testimony-body-name span {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #a0a3bd;
}

@media screen and (max-width: 576px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
    padding: 80px 20px;
  }

  .intro-one {
    height: 300px;
  }

  .intro-one h1 {
    font-family: Cardo;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    color: #12182c;
    text-align: center;
  }

  .intro-one p {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #a0a3bd;
  }

  .intro-img {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  .intro-img .img-one {
    margin-top: 20px;
  }

  .intro-img .img-two {
    margin-top: 150px;
  }

  /* choose us */
  .choose-us-title h1 {
    font-family: Cardo;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
  }

  .choose-us-one {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 0px 0px;
  }

  .choose-us-one .col-one {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px;
    position: relative;
  }

  .choose-us-one .col-one-right {
    display: none;
  }

  .hide {
    display: block;
  }

  .col-one-title h1 {
    font-family: DM Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e8ea;
    margin-left: 0px;
  }

  .choose-us-one .col-two {
    width: 100%;
    height: 200px;
  }

  .choose-us-one .col-two-right {
    display: none;
  }

  .col-one-body h5 {
    margin-top: 115px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    color: #d43c14;
  }

  .col-one-body .line {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 67px;
    background: #d43c14;
  }

  .col-one-body p {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .choose-us-one img {
    width: 100%;
    height: 350px;
  }

  /* destinations */

  .desc {
    padding: 120px 20px 0;
  }

  .desc .destinations {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .fre-des h1 {
    font-family: Cardo;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .location h5 {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -30px;
  }
}

/* .welcome {
  margin: 60px auto !important;
}

h1,
h5,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #6d6b6b;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.notice {
  color: #dd4f05;
  font-weight: bold;
}

p {
  line-height: 25px;
}

.places-card {
  position: relative;
}

.visited .card {
  position: relative;
  bottom: 50px;
  width: 80%;
  border-radius: 7px;
  padding: 15px 15px;
  margin: 0 32px;
  cursor: pointer;
}

.visited1 .card {
  position: relative;
  background: #dd4f05;
  top: -230px;
  width: 80%;
  border-radius: 7px;
  padding: 15px 15px;
  margin: -230px 32px 0;
  cursor: pointer;
  z-index: 1;
  color: #fff !important;
}

.card .location {
  font-size: 12px;
  color: #6d6b6b;
}

.card h5 {
  font-size: 16px;
  color: #dd4f05;
  font-weight: 600;
  margin: 3px 0;
}

.review {
  display: flex;
  font-size: 12px;
  font-weight: 500;
}

.review i,
.review span {
  margin: 3px 3px;
  color: #6d6b6b;
} */

/* .card .hide{
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  font-weight: 500;
  display: none;
} */

/* .hide {
  display: none;
}

.show {
  cursor: pointer;
}

.visited:hover + .visited1 {
  font-size: 15px;
  line-height: 16px;
  margin: 0 !important;
  font-weight: 500;
  display: block;
}

.card hr {
  margin: 8px;
}

.card ul {
  display: flex;
  margin: 0;
}

.card ul li {
  margin: 0 5px;
  font-size: 12px;
  font-weight: 500;
  color: #6d6b6b;
}

.card .money {
  position: relative;
  color: #dd4f05;
  font-weight: 800;
}

.show {
  color: #fff !important;
  width: 100%;
}

.show li {
  color: #fff !important;
}

.choose-us {
  margin: 60px auto 0px !important;
  background-color: #f1f1f1;
  padding: 100px 50px !important;
}

.places {
  background: #f9f8fe;
}

.testimony {
  margin: 60px auto !important;
}

.icon {
  font-size: 40px;
  color: #dd4f05;
  margin: 20px;
}

.fa-star {
  color: #dd4f05;
}

@media screen and (max-width: 500px) {


  .testimonials h2 {
    font-size: 1.5rem;
  }
}

.slider {
  height: 150px !important;
  margin: 5px 0;
}

.slider a.previousButton,
.slider a.nextButton {
  display: none !important;
}

.testimonials {
  padding: 40px 10px 0;
}

.testimonials h2 {
  font-size: 2rem;
} */
