.welcome {
  margin: 60px auto !important;
}

.choose-us {
  margin: 60px auto 0px !important;
  background-color: #f1f1f1;
  padding: 100px 50px !important;
}

.places {
  margin: 0px auto 60px !important;
  padding: 100px 50px !important;
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1603012689/zlmj4wkdirirqag7wo6y.jpg")
    fixed;
}

.testimony {
  margin: 60px auto !important;
}

.icon {
  font-size: 60px;
  color: #ff7f00;
  margin: 25px;
}

.fa-star {
  color: #ff7f00;
}

@media screen and (max-width: 500px) {
  .places-card {
    margin: 20px;
  }
}
