.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  padding: 120px 20px;
}

.intro-one {
  height: 100%;
}

.intro-one h1 {
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  color: #12182c;
}

.intro-one p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justified;
  color: #a0a3bd;
}

.intro-img {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.intro-img .img-one {
  margin-top: 20px;
}

.intro-img .img-two {
  margin-top: 220px;
}

/* .choose-us {
  padding-top: 80px;
} */

.choose-us-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
}

.choose-us-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  padding: 60px 0px;
  margin-bottom: 100px;
}

.choose-us-one .col-one {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 50px;
  position: relative;
}

.choose-us-one .col-one-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 0 auto -150px;
  position: relative;
}

.col-one-title h1 {
  font-family: DM Sans;
  font-size: 168px;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  letter-spacing: 0px;
  text-align: left;
  color: #e7e8ea;
  margin-left: 60px;
}

.choose-us-one .col-two {
  width: 70%;
  height: 100%;
}

.choose-us-one .col-two-right {
  width: 70%;
  height: 100%;
  margin: 0 100px;
  position: relative;
}

.col-one-body h5 {
  margin-top: 115px;
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: left;
  color: #d43c14;
}

.col-one-body .line {
  position: absolute;
  top: 100px;
  left: 160px;
  width: 80px;
  background: #d43c14;
}

.col-one-body p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
}

.hide {
  display: none;
}

.desc {
  padding: 120px 0px 0px;
}

.desc .destinations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.fre-des h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 80px;
}

.des-one,
.des-two,
.des-three,
.des-four {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.location {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.des-one:hover .image,
.des-two:hover .image,
.des-three:hover .image,
.des-four:hover .image {
  opacity: 0.3;
}

.des-one:hover .location,
.des-two:hover .location,
.des-three:hover .location,
.des-four:hover .location {
  opacity: 1;
}

.text {
  background-color: #d43c14;
  color: #fff;
  font-size: 16px;
  padding: 16px 32px;
}

.partners {
  padding: 120px 0px 0px;
}

.partners-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 80px;
}

.partners .partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 70px;
  max-width: 800px;
  margin: 0 auto;
}

.partner-one {
  margin-top: -60px;
}

.partner-two {
  margin-top: -30px;
}

.partner-three {
  margin-top: -10px;
}

.testimonies {
  padding: 100px 0px 0px;
}

.testimonies-title h1 {
  font-family: Cardo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 30px;
}

.testimonies-title p {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
  margin-bottom: 40px;
}

.testimonies .testimonies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 0 auto;
}

.testimony {
  padding: 20px;
  box-shadow: 2px 2px 6px #a0a3bd;
}

.testimony:hover {
  padding: 20px;
  box-shadow: 5px 5px 15px #a0a3bd;
}

.testimony p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a3bd;
}

.testimony-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
  padding: 20px 0;
}

.testimony-body-name p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #d43c14;
}

.testimony-body-name span {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #a0a3bd;
}

@media screen and (max-width: 992px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 80px 20px;
  }

  .intro-one {
    margin-bottom: 0;
  }

  .intro-img {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 150px;
    margin: 0 auto;
  }

  .intro-img .img-one img {
    /* margin-top: 20px; */
    height: 300px;
    width: 80%;
  }

  .intro-img .img-two {
    margin-top: 75px;
    height: 300px;
    width: 80%;
  }

  /* choose us */
  .choose-us-title h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
  }

  .choose-us-one {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 0px;
  }

  .choose-us-one .col-one {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
    position: relative;
  }

  .choose-us-one .col-one-right {
    display: none;
  }

  .hide {
    display: block;
  }

  .col-one-title h1 {
    font-family: DM Sans;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e8ea;
    margin-left: 0px;
  }

  .choose-us-one .col-two {
    width: 100%;
    height: 100%;
  }

  .choose-us-one .col-two-right {
    display: none;
  }

  .col-one-body h5 {
    margin-top: 115px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    color: #d43c14;
  }

  .col-one-body .line {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 67px;
    background: #d43c14;
  }

  .col-one-body p {
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .choose-us-one img {
    width: 100%;
    height: 100%;
  }

  /* testimonies */
  .testimonies {
    padding: 100px 0px 0px;
    text-align: left;
  }

  .testimonies-title h1 {
    font-family: Cardo;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
    text-align: center;
  }

  .testimonies-title p {
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
    margin-bottom: 40px;
    text-align: center;
  }

  .testimonies .testimonies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .testimony {
    padding: 20px;
    box-shadow: 2px 2px 6px #a0a3bd;
  }

  .testimony:hover {
    padding: 20px;
    box-shadow: 5px 5px 15px #a0a3bd;
  }

  .testimony p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .testimony-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    padding: 20px 0;
  }

  .testimony-body-name {
    margin: auto 0;
  }

  .testimony-body-name p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #d43c14;
  }

  .testimony-body-name span {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #a0a3bd;
  }
}

@media screen and (max-width: 765px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 80px 20px;
  }

  .intro-img {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 100px;
  }

  /* choose us */
  .choose-us-title h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
  }

  .choose-us-one {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 0px 0px;
  }

  .choose-us-one .col-one {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
    position: relative;
  }

  .choose-us-one .col-one-right {
    display: none;
  }

  .hide {
    display: block;
  }

  .col-one-title h1 {
    font-family: DM Sans;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e8ea;
    margin-left: 0px;
  }

  .choose-us-one .col-two {
    width: 100%;
    height: 250px;
  }

  .choose-us-one .col-two-right {
    display: none;
  }

  .col-one-body h5 {
    margin-top: 115px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    color: #d43c14;
  }

  .col-one-body .line {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 67px;
    background: #d43c14;
  }

  .col-one-body p {
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .choose-us-one img {
    width: 100%;
    height: 100%;
  }

  /* destinations */

  .desc {
    padding: 100px 0 0px;
  }

  .desc .destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }

  .fre-des h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .location h5 {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -30px;
  }

  /* partners */
  .partners {
    padding: 120px 20px 0px;
  }

  .partners-title h1 {
    font-family: Cardo;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .partners .partners-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    max-width: 100%;
    margin: 0 auto;
  }

  .partner-one {
    margin-top: -60px;
  }

  .partner-two {
    margin-top: -30px;
  }

  .partner-three {
    margin-top: -10px;
  }

  /* testimonies */
  .testimonies {
    padding: 100px 0px 0px;
    text-align: left;
  }

  .testimonies-title h1 {
    font-family: Cardo;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
    text-align: center;
  }

  .testimonies-title p {
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
    margin-bottom: 40px;
    text-align: center;
  }

  .testimonies .testimonies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .testimony {
    padding: 20px;
    box-shadow: 2px 2px 6px #a0a3bd;
  }

  .testimony:hover {
    padding: 20px;
    box-shadow: 5px 5px 15px #a0a3bd;
  }

  .testimony p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .testimony-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    padding: 20px 0;
  }

  .testimony-body-name {
    margin: auto 0;
  }

  .testimony-body-name p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #d43c14;
  }

  .testimony-body-name span {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #a0a3bd;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 80px 20px;
  }

  .intro-one {
    height: 300px;
  }

  .intro-one h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    color: #12182c;
    text-align: center;
  }

  .intro-one p {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #a0a3bd;
  }

  .intro-img {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  .intro-img .img-one {
    margin-top: 20px;
  }

  .intro-img .img-two {
    margin-top: 100px;
  }

  /* choose us */
  .choose-us-title h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
  }

  .choose-us-one {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 0px 0px;
  }

  .choose-us-one .col-one {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
    position: relative;
  }

  .choose-us-one .col-one-right {
    display: none;
  }

  .hide {
    display: block;
  }

  .col-one-title h1 {
    font-family: DM Sans;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e8ea;
    margin-left: 0px;
  }

  .choose-us-one .col-two {
    width: 100%;
    height: 250px;
  }

  .choose-us-one .col-two-right {
    display: none;
  }

  .col-one-body h5 {
    margin-top: 115px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    color: #d43c14;
  }

  .col-one-body .line {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 67px;
    background: #d43c14;
  }

  .col-one-body p {
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .choose-us-one img {
    width: 100%;
    height: 100%;
  }

  /* destinations */

  .desc {
    padding: 120px 20px 0;
  }

  .desc .destinations {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .fre-des h1 {
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .location h5 {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -30px;
  }

  /* partners */
  .partners {
    padding: 120px 20px 0px;
  }

  .partners-title h1 {
    font-family: Cardo;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .partners .partners-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    max-width: 100%;
    margin: 0 auto;
  }

  .partner-one {
    margin-top: -60px;
  }

  .partner-two {
    margin-top: -30px;
  }

  .partner-three {
    margin-top: -10px;
  }

  /* testimonies */
  .testimonies {
    padding: 100px 20px 0px;
    text-align: left;
  }

  .testimonies-title h1 {
    font-family: Cardo;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
    text-align: center;
  }

  .testimonies-title p {
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
    margin-bottom: 40px;
    text-align: center;
  }

  .testimonies .testimonies-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .testimony {
    padding: 20px;
    box-shadow: 2px 2px 6px #a0a3bd;
  }

  .testimony:hover {
    padding: 20px;
    box-shadow: 5px 5px 15px #a0a3bd;
  }

  .testimony p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .testimony-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    padding: 20px 0;
  }

  .testimony-body-name {
    margin: auto 0;
  }

  .testimony-body-name p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #d43c14;
  }

  .testimony-body-name span {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #a0a3bd;
  }
}

@media screen and (max-width: 576px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 40px 20px;
  }

  .intro-one {
    /* height: 300px; */
  }

  .intro-one h1 {
    font-family: Cardo;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    color: #12182c;
    text-align: center;
  }

  .intro-one p {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #a0a3bd;
  }

  .intro-img {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 5px; */
  }

  .intro-img .img-one img {
    margin-top: 20px;
    width: 100%!important;
  }

  .intro-img .img-two {
    display: none;
  }

  /* choose us */
  .choose-us-title h1 {
    font-family: Cardo;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
  }

  .choose-us-one {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 0px 0px;
  }

  .choose-us-one .col-one {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px;
    position: relative;
  }

  .choose-us-one .col-one-right {
    display: none;
  }

  .hide {
    display: block;
  }

  .col-one-title h1 {
    font-family: DM Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e8ea;
    margin-left: 0px;
  }

  .choose-us-one .col-two {
    width: 100%;
    height: 200px;
  }

  .choose-us-one .col-two-right {
    display: none;
  }

  .col-one-body h5 {
    margin-top: 115px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    color: #d43c14;
  }

  .col-one-body .line {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 67px;
    background: #d43c14;
  }

  .col-one-body p {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .choose-us-one img {
    width: 100%;
    height: 350px;
  }

  /* destinations */

  .desc {
    padding: 120px 20px 0;
  }

  .desc .destinations {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .fre-des h1 {
    font-family: Cardo;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .location h5 {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -30px;
  }

  /* partners */
  .partners {
    padding: 120px 20px 0px;
  }

  .partners-title h1 {
    font-family: Cardo;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
    text-align: center;
  }

  .partners .partners-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    max-width: 100%;
    margin: 0 auto;
  }

  .partner-one {
    margin-top: -60px;
  }

  .partner-two {
    margin-top: -30px;
  }

  .partner-three {
    margin-top: -10px;
  }

  /* testimonies */
  .testimonies {
    padding: 100px 20px 0px;
    text-align: center;
  }

  .testimonies-title h1 {
    font-family: Cardo;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
    text-align: center;
  }

  .testimonies-title p {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
    margin-bottom: 40px;
    text-align: center;
  }

  .testimonies .testimonies-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .testimony {
    padding: 20px;
    box-shadow: 2px 2px 6px #a0a3bd;
  }

  .testimony:hover {
    padding: 20px;
    box-shadow: 5px 5px 15px #a0a3bd;
  }

  .testimony p {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #a0a3bd;
  }

  .testimony-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    padding: 20px 0;
  }

  .testimony-body-name p {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #d43c14;
  }

  .testimony-body-name span {
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #a0a3bd;
  }
}

@media screen and (max-width: 369px) {

  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 40px 10px;
  }

  .intro-one {
    height: 100%;
  }

  .intro-img {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .intro-img .img-one{
    margin: 10px auto 0;
    width: 100%!important;
    align-self: center;
  }

  .intro-img .img-two {
    display: none;
  }
}
