.welcome {
  margin: 60px auto !important;
}

h1,
h5,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #6d6b6b;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.notice {
  color: #ff7f00;
  font-weight: bold;
}

p {
  line-height: 25px;
}

.choose-us {
  margin: 60px auto 0px !important;
  background-color: #f1f1f1;
  padding: 100px 50px !important;
}

.places {
  margin: 0px auto 60px !important;
  padding: 100px 50px !important;
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1603012689/zlmj4wkdirirqag7wo6y.jpg")
    fixed;
}

.testimony {
  margin: 60px auto !important;
}

.icon {
  font-size: 60px;
  color: #ff7f00;
  margin: 25px;
}

.fa-star {
  color: #ff7f00;
}

@media screen and (max-width: 500px) {
  .places-card {
    margin: 20px;
  }
}
