.form-auth {
  margin: 0 auto;
  max-width: 50vw;
  padding: 50px 0;
}

.form-auth .form-group input {
  padding: 15px;
}

.form-auth input {
  padding: 15px!important;
}

.btns {
  width: 100%;
  color: #fff;
  background: #dd4f05;
}

.btns:hover {
  width: 100%;
  color: #fff;
  background: #b94507;
}

@media screen and (max-width: 600px) {
  .form-auth {
    margin: 0 auto;
    min-width: 100vw;
    padding: 25px 0;
  }
}

/* input[type="text" i] {
  padding: 15px;
  width: 100%;
  border: none!important;
} */