.hero-container {
  background: linear-gradient(rgba(43, 43, 80, 0.45), rgba(0, 0, 0, 0)),
    url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1610066864/Rectangle_4_w64mko.png")
      center center/cover no-repeat;
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.hero-highlight {
  margin: 180px 0 0 150px;
  position: relative;
}

.hero-caption {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 1rem;
}

.hero-caption .line {
  position: absolute;
  top: -14px;
  background-color: #d43c14;
  border-bottom: 0.5px solid #d43c14;
  width: 80px;
  font-weight: bold;
}

.hero-caption .hero-title {
  margin-left: 100px;
  color: #d43c14;
  font-family: DM Sans;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: bold !important;
  line-height: 23px;
  letter-spacing: 6px;
  text-align: left;
}

.hero-captain-two h1 {
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-form {
  margin: 60px 150px 0px 150px;
}

.form-body {
  padding: 40px;
  height: 190px;
  max-width: 960px;
  background: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.input-form {
  height: 48px;
  width: 196px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

.hero-btn-form {
  width: 100%;
}

.btn-form {
  width: 100%;
  background: #d43c14;
}

@media screen and (max-width: 960px) {
  /* .hero-container {
    height: 90vh;
  }

  .hero-container > h1 {
    font-size: 70px;
  } */
} 

@media screen and (max-width: 680px) {
  .hero-container {
    height: 90vh;
  }

  .hero-highlight {
    margin: 160px 40px 0px 40px;
    position: relative;
  }

  .hero-caption {
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 0.8rem;
  }

  .hero-caption .line {
    position: absolute;
    top: -14px;
    background-color: #d43c14;
    border-bottom: 0.5px solid #d43c14;
    width: 40px;
    font-weight: bold;
  }

  .hero-caption .hero-title {
    margin-left: 50px;
    font-size: 0.83rem;
    font-weight: bold !important;
    line-height: 23px;
    letter-spacing: 5px;
  }

  .hero-captain-two h1 {
    color: #fff;
    font-family: "Cardo", serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero-form {
    margin: 25px 25px 0px;
  }

  .form-body {
    padding: 20px;
    height: 300px;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(3px);
    border-radius: 5px;
  }

  
}

@media screen and (max-width: 576px) {
  .hero-container {
    height: 80vh;
  }

  .hero-highlight {
    margin: 120px 20px 0px 20px;
    position: relative;
  }

  .hero-caption {
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 0.5rem;
  }

  .hero-caption .line {
    position: absolute;
    top: -14px;
    background-color: #d43c14;
    border-bottom: 0.5px solid #d43c14;
    width: 40px;
    font-weight: bold;
  }

  .hero-caption .hero-title {
    margin-left: 50px;
    font-size: 0.78rem;
    font-weight: bold !important;
    line-height: 23px;
    letter-spacing: 3px;
  }

  .hero-captain-two h1 {
    color: #fff;
    font-family: "Cardo", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero-form {
    margin: 25px 25px 0px;
  }

  .form-body {
    padding: 20px;
    height: 300px;
    max-width: 960px;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(3px);
    border-radius: 5px;
  }
}

/* .hero-container > h1 {
  color: #fff;
  font-size: 80px;
  margin-top: 40px;
}

.hero-container > p {
  margin-top: 2px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 10px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container {
    height: 90vh;
  }

  .hero-container > h1 {
    font-size: 70px;
  }
} */

/* @media screen and (max-width: 768px) {
  .hero-container {
    height: 70vh;
  }

  .hero-container > h1 {
    font-size: 50px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
} */

/* @media screen and (max-width: 500px) {
  .hero-container {
    height: 50vh;
  }

  .hero-container > h1 {
    font-size: 35px;
  }

  .hero-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .btn-form {
    width: 100% !important;
    background: #dd4f05;
    margin-top: 15px;
  }

  .input-form {
    margin-top: 10px;
  }
} */

/* .form {
  background: linear-gradient(
	rgba(24, 23, 23, 0.45), 
	rgba(15, 6, 6, 0.45)
  );
  background: rgba(216, 216, 216, 0.46);
  padding: 20px 35px;
  margin: 30px;
  border-radius: 15px;
} */

/* .form p {
  font-weight: bold;
  color: #dd4f05;
}

.btn-form {
  width: 100% !important;
  background: #dd4f05;
  font-weight: 700;
} */
