/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  } */

.hero-container {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1605619633/dariusz-sankowski-3OiYMgDKJ6k-unsplash_ooc5zb.jpg")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 80px;
  margin-top: 40px;
}

.hero-container > p {
  margin-top: 2px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 10px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    /* margin-top: -150px; */
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    /* margin-top: -100px; */
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero-container > h1 {
    font-size: 35px;
    /* margin-top: -50px; */
  }

  .hero-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .btn-form {
    width: 100% !important;
    background: #ff7f00;
    margin-top: 15px;
  }

  .input-form {
    margin-top: 10px;
  }
}

.form {
  /* background: linear-gradient(
	rgba(24, 23, 23, 0.45), 
	rgba(15, 6, 6, 0.45)
  ); */
  background: #fff;
  padding: 20px 35px;
  margin: 30px;
  border-radius: 15px;
}

.form p {
  font-weight: bold;
  color: #ff7f00;
}

.btn-form {
  width: 100% !important;
  background: #ff7f00;
}
