.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.one {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635638/unnamed_mqgczj.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 150px !important;
}

.two {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635639/images_10_shmizt.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 150px !important;
}

.three {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635639/images_1_m1vofp.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 150px !important;
}

.four {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635639/images_2_jyl65a.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 150px !important;
}

.five {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635639/images_16_pfo5iu.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 150px !important;
}

.six {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635638/ng-abctra-logo_b712uu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px !important;
}

.seven {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635639/images_3_vlqh7x.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 100px !important;
}

.eight {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1607635638/logo_aomuia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 50px !important;
}

@media screen and (max-width: 500px) {
  .App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }
}

button.rec-dot {
  background-color: #ff7f00;
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px #ff7f00;
}

button.rec-arrow {
  background-color: #ff7f00;
  color: #fff;
}

button.rec-arrow :hover,
button.rec-arrow :active,
button.rec-arrow :focus {
  box-shadow: 0 0 1px 3px #ff7f00;
  background-color: #c75b03 !important;
}
